*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.mk
*.xml
*.yml
html/
firmware/v4_1.X/build/
firmware/v4_1.X/debug/
firmware/v4_1.X/.generated_files/
firmware/v4_1.X/*
firmware/v4_1.X/dist/
firmware/v4_1.X/nbproject/
firmware/src/config/default/stdio/keil_monitor.c
firmware/src/config/default/stdio/xc32_monitor.c
firmware/src/config/default/startip_keil.c
firmware/src/config/default/startip_xc32.c
firmware/src/main.c 

